* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   html, body {
    height: 100%
   }
   h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px
   }
body{
     background-color: purple;
}
nav {
    background-color: orange;
    color: orangered;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
    height: 50px;
    display: flex;
    padding: 10px;
    font-family: arial;
    font-size: 30px;
}
a {
    color: purple;
    font-family: fantasy;
    text-decoration: none;
}
.logo{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}