html, body {
    height: 100%;
   
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

body {
background-color: #722787;
    
}

nav {
    background-color: rgb(249, 186, 92);
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    display: flex;
    padding: 10px;
    font-family: arial;
    font-size: 30px;
}

a {
    color: rgb(57, 55, 58);
    font-family: fantasy;
    text-decoration: none;
}

.free {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.free em {
    background-color: peachpuff;
    color:  #e488d8;
    box-shadow: 5px 5px 3px 4px;
}

img {
    height: 1000px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

footer {
    background-color:rgb(249, 186, 92);
    height: 50px;
    width: cover;
    margin-top: 100px;
    color: rgb(44, 36, 46);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 86, 24);
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#numbers {
    background-color: peachpuff;
    height: 200px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}


.aboutbox h1{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    
   }

p {
    font-size: 25px;
    color:rgb(255, 220, 219);
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: blue;*/
}
.sunset {
    margin: auto;
    background-color: pink;
    height: 500px;
    background: linear-gradient(to right, peachpuff, rgb(255, 111, 0), purple);
}

.layers p {
    background-color: #3d1a47;
    justify-content: center;
    height: 200px;
    align-items: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.artists a{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    height: 50px;
    color: black;
    border: solid 5px black;
    
}
.artists img{
    height: 250px;
    margin-right: auto;
    
}


.aboutus p {
background-color: #3d1a47;
    justify-content: center;
    height: 200px;
    align-items: center;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cont p {
    background-color: #3d1a47;
        justify-content: center;
        height: 200px;
        align-items: center;
        display: flex;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}