html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

body {
    background-color: purple;
}

nav {
    background-color: orange;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    display: flex;
    padding: 10px;
    font-family: arial;
    font-size: 30px;
}

a {
    color: purple;
    font-family: fantasy;
    text-decoration: none;
}

.free {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    align-items: center;
    display: flex;
    margin-left: 800px;
}

.free em {
    background-color: peachpuff;
    color: rgb(239, 111, 168);
    box-shadow: 5px 5px 3px 4px;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1000px;
    margin-left: 450px;
}

footer {
    background-color: orange;
    height: 50px;
    margin-top: 100px;
    color: purple;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

