html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

body {
    background-color: purple;
}

nav {
    background-color: rgb(249, 186, 92);
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    display: flex;
    padding: 10px;
    font-family: arial;
    font-size: 30px;
}

a {
    color: purple;
    font-family: fantasy;
    text-decoration: none;
}

.free {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: orangered;
    align-items: center;
    display: flex;
    margin-left: 800px;
}

.free em {
    background-color: peachpuff;
    color: rgb(239, 111, 168);
    box-shadow: 5px 5px 3px 4px;
}

img {
    height: 1000px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color:rgb(249, 186, 92);
    height: 50px;
    margin-top: 100px;
    color: purple;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: orangered;
    font-size: 30px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#numbers {
    background-color: peachpuff;
    height: 200px;
    width: 1000px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

p {
    font-size: 25px;
    color:rgb(255, 192, 190);
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
}